.fid-prompt > .fid-prompt__content > .fid-prompt__input {
  width: 100%;
}

.fid-prompt > .fid-prompt__content > .fid-prompt__input.fid-prompt__input--valid {
  border-color: green;
}

.fid-prompt > .fid-prompt__content > .fid-prompt__input.fid-prompt__input--invalid {
  border-color: red;
}

.fid-prompt > .fid-prompt__content > .fid-prompt__id-box {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;

  width: 100%;
  min-height: 32px;
  margin-top: 16px;
  padding: 4px;

  background-color: #0f0f0f;
  border-radius: 5px;
}

.fid-prompt > .fid-prompt__content > .fid-prompt__id-box > span {
  padding: 2px 12px;

  font-weight: bold;
  line-height: 1;
  color: black;
  vertical-align: baseline;

  background-color: #ecc8af;
  border-radius: 6px;
}
