.confirmation-modal > .modal-header > .confirmation-modal__title {
  text-align: center;
}

.confirmation-modal > .modal-content {
  display: flex;
  column-gap: 32px;
  justify-content: center;
  margin-top: 16px;
}
